In [1]:
import pandas as pd

In [3]:
df = pd.DataFrame(
    {
        'AAA':[4, 5, 6, 7],
        'BBB':[10, 20, 30, 40],
        'CCC':[100, 50, -30, -50]
    });
df

   AAA  BBB  CCC
0    4   10  100
1    5   20   50
2    6   30  -30
3    7   40  -50

In [5]:
df.ix[df.AAA >= 5, 'BBB'] = -1; 
df

   AAA  BBB  CCC
0    4   10  100
1    5   -1   50
2    6   -1  -30
3    7   -1  -50

In [6]:
df.ix[df.AAA >= 5, ['BBB', 'CCC']] = 555;
df

   AAA  BBB  CCC
0    4   10  100
1    5  555  555
2    6  555  555
3    7  555  555

In [7]:
df.ix[df.AAA < 5, ['BBB', 'CCC']] = 200;
df

   AAA  BBB  CCC
0    4  200  200
1    5  555  555
2    6  555  555
3    7  555  555

In [8]:
df_mask = pd.DataFrame({'AAA':[True] * 4, 'BBB':[False] * 4, 'CCC':[True, False] * 2})
df.where(df_mask, -1000)

   AAA   BBB   CCC
0    4 -1000   200
1    5 -1000 -1000
2    6 -1000   555
3    7 -1000 -1000

In [9]:
df = pd.DataFrame(
    {
        'AAA':[4, 5, 6, 7],
        'BBB':[10, 20, 30, 40],
        'CCC':[100, 50, -30, -50]
    });
df

   AAA  BBB  CCC
0    4   10  100
1    5   20   50
2    6   30  -30
3    7   40  -50

In [11]:
import numpy as np

In [12]:
df['logic'] = np.where(df['AAA'] > 5, 'high', 'low');
df

   AAA  BBB  CCC logic
0    4   10  100   low
1    5   20   50   low
2    6   30  -30  high
3    7   40  -50  high

In [13]:
df = pd.DataFrame(
    {
        'AAA':[4, 5, 6, 7],
        'BBB':[10, 20, 30, 40],
        'CCC':[100, 50, -30, -50]
    });
df

   AAA  BBB  CCC
0    4   10  100
1    5   20   50
2    6   30  -30
3    7   40  -50

In [14]:
dflow = df[df.AAA <= 5]

In [15]:
dfhigh = df[df.AAA > 5]

In [17]:
dflow

   AAA  BBB  CCC
0    4   10  100
1    5   20   50

In [18]:
dfhigh

   AAA  BBB  CCC
2    6   30  -30
3    7   40  -50

In [19]:
df = pd.DataFrame(
    {
        'AAA':[4, 5, 6, 7],
        'BBB':[10, 20, 30, 40],
        'CCC':[100, 50, -30, -50]
    });
df

   AAA  BBB  CCC
0    4   10  100
1    5   20   50
2    6   30  -30
3    7   40  -50

In [20]:
newseries = df.loc[(df['BBB'] < 25) &(df['CCC'] >= -40), 'AAA'];
newseries

0    4
1    5
Name: AAA, dtype: int64

In [21]:
newseries = df.loc[(df['BBB'] > 25) |  (df['CCC'] >= -40), 'AAA'];
newseries

0    4
1    5
2    6
3    7
Name: AAA, dtype: int64

In [22]:
df.loc[(df['BBB'] > 25) | (df['CCC'] >= 75), 'AAA'] = 0.1;
df

   AAA  BBB  CCC
0  0.1   10  100
1  5.0   20   50
2  0.1   30  -30
3  0.1   40  -50

In [23]:
df = pd.DataFrame(
    {
        'AAA':[4, 5, 6, 7],
        'BBB':[10, 20, 30, 40],
        'CCC':[100, 50, -30, -50]
    });
df

   AAA  BBB  CCC
0    4   10  100
1    5   20   50
2    6   30  -30
3    7   40  -50

In [24]:
aValue = 43.0

In [25]:
df.ix[(df.CCC-aValue).abs().argsort()]

   AAA  BBB  CCC
1    5   20   50
0    4   10  100
2    6   30  -30
3    7   40  -50

In [26]:
df = pd.DataFrame(
    {
        'AAA':[4, 5, 6, 7],
        'BBB':[10, 20, 30, 40],
        'CCC':[100, 50, -30, -50]
    });
df

   AAA  BBB  CCC
0    4   10  100
1    5   20   50
2    6   30  -30
3    7   40  -50

In [27]:
Crit1 = df.AAA <=5.5

In [29]:
Crit2 = df.AAA == 10.0

In [30]:
Crit3 = df.CCC > -40.0

In [31]:
AllCrit = Crit1 & Crit2 & Crit3

In [32]:
CritList = [Crit1, Crit2, Crit3]

In [37]:
AllCrit = np.functools.reduce(lambda x, y : x & y, CritList)

AttributeError: 'module' object has no attribute 'functools'

In [38]:
df[AllCrit]

Empty DataFrame
Columns: [AAA, BBB, CCC]
Index: []

In [40]:
df = pd.DataFrame(
    {
        'AAA':[4, 5, 6, 7],
        'BBB':[10, 20, 30, 40],
        'CCC':[100, 50, -30, -50]
    });
df

   AAA  BBB  CCC
0    4   10  100
1    5   20   50
2    6   30  -30
3    7   40  -50

In [41]:
df[(df.AAA <= 6) & (df.index.isin([0, 2, 4]))]

   AAA  BBB  CCC
0    4   10  100
2    6   30  -30

In [42]:
data = {'AAA' : [4, 5, 6, 7], 'BBB' : [10, 20, 30, 40], 'CCC' : [100, 50, -30, -50]}

In [43]:
df = pd.DataFrame(data = data, index = ['foo', 'bar', 'boo', 'kar']);
df

     AAA  BBB  CCC
foo    4   10  100
bar    5   20   50
boo    6   30  -30
kar    7   40  -50

In [44]:
df.loc['bar':'kar'] #label

     AAA  BBB  CCC
bar    5   20   50
boo    6   30  -30
kar    7   40  -50

In [45]:
df.ix[0:3] #same as .iloc[0:3]

     AAA  BBB  CCC
foo    4   10  100
bar    5   20   50
boo    6   30  -30

In [46]:
df.ix['bar':'kar'] #same as .loc['bar':'kar]

     AAA  BBB  CCC
bar    5   20   50
boo    6   30  -30
kar    7   40  -50

In [47]:
df = pd.DataFrame(
    {
        'AAA':[4, 5, 6, 7],
        'BBB':[10, 20, 30, 40],
        'CCC':[100, 50, -30, -50]
    });
df

   AAA  BBB  CCC
0    4   10  100
1    5   20   50
2    6   30  -30
3    7   40  -50

In [49]:
df[~((df.AAA <= 6) & (df.index.isin([0, 2, 4])))]

   AAA  BBB  CCC
1    5   20   50
3    7   40  -50

In [51]:
rng = pd.date_range('1/1/2013', periods = 100, freq = 'D')

In [52]:
data = np.random.randn(100,4)

In [53]:
cols = ['A', 'B', 'C', 'D']

In [54]:
df1, df2, df3 = pd.DataFrame(data, rng, cols),pd.DataFrame(data, rng, cols),pd.DataFrame(data, rng, cols)

In [55]:
pf = pd.Panel({'df1':df1, 'df2':df2, 'df3':df3}); pf

<class 'pandas.core.panel.Panel'>
Dimensions: 3 (items) x 100 (major_axis) x 4 (minor_axis)
Items axis: df1 to df3
Major_axis axis: 2013-01-01 00:00:00 to 2013-04-10 00:00:00
Minor_axis axis: A to D

In [56]:
pf = pf.transpose(2, 0, 1)

In [57]:
pf['E'] = pd.DataFrame(data, rng, cols)

In [58]:
pf = pf.transpose(1,2,0); pf

<class 'pandas.core.panel.Panel'>
Dimensions: 3 (items) x 100 (major_axis) x 5 (minor_axis)
Items axis: df1 to df3
Major_axis axis: 2013-01-01 00:00:00 to 2013-04-10 00:00:00
Minor_axis axis: A to E

In [59]:
pf.loc[:,:,'F'] = pd.DataFrame(data, rng, cols); pf

<class 'pandas.core.panel.Panel'>
Dimensions: 3 (items) x 100 (major_axis) x 6 (minor_axis)
Items axis: df1 to df3
Major_axis axis: 2013-01-01 00:00:00 to 2013-04-10 00:00:00
Minor_axis axis: A to F

In [ ]:
df = pd.DataFrame({'AAA':[1,2,1,3]})